<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= userlist[0].Name %></p>

<table border="black" c>
    <% for(var i=0;i<userlist.length;i++) {%>
    <tr>
        <td><%= userlist[i].Name %></td>
        <td><%= userlist[i].Password %></td>
    </tr>
    <%}%>
</table>

</body>
</html>
